## CLI credentials and config
# export SCP_ACCESS_KEY="your-access-key"
# export SCP_SECRET_KEY="your-secret-key"
# export SCP_PROJECT_ID="PROJECT-xxxxxxxxxxxxxxxxxxxx"
# export SCP_USER_ID="your-user-id"
# export SCP_EMAIL="you@example.com"

## Code generation
export SCP_SESSION="your-jsessionid-cookie"
export SCP_SPRING_SESSION="your-session-cookie"
